<div>
    <h1>Bienvenido a la pagina 3</h1>
    <p>Ahora les hablare de mis peliculas y series favoritas</p>
    <p>La primera sera Spiderman: No Way Home, despues de los sucesos de Misterio y de que este revelara la identidad de Spiderman, Peter Parker se enfrenta
        a un nuevo problema la fama de que todos sepan que es Spiderman y lo odien por matar a misterio, asi que recurrira a la ayuda de Dr. Strange para solucionar
        este problema, pero por ciertos sucesos ocasionara un problema aun mayor
    </p>
    <p>
        Mi serie favorita es Yu-Gi-Oh una serie de animes, en el cual los protagonistas se enfrentaran a diversos problemas desde locos 
        queriendo arrebatar las almas de sus amigos, hasta hackers que buscan explotar la red, todos estos conflictos los resolveran mediante
        un duelo del juego de cartas con el mismo nombre Yu-Gi-Oh
    </p>
    <button (clcik)="navegacion()">Pagina Inicial</button>
    <button (click)="navegacion2()">Comida Favorita</button>
    <button (click)="navegacion3()">Videojuegos Favoritos</button>
    <button (click)="navegacion4()">Informacion de mi juego favorito</button>
    <button (click)="navegacion5()">Mis Viajes</button>
</div>
