<div>
    <h1>Esta es la página 2</h1>
    <p>Les voy a contar mis 10 comidas favoritas</p>
    <p>La numero 10, es el sancocho una comida hecha a base de la carne del cerdo y la cual usualmente es acompañada de tortillas o papas</p>
    <img src="https://www.cocina-ecuatoriana.com/base/stock/Recipe/42-image/42-image_web.jpg">
    <p>Mi comida favorita numero 9 es el seco de carne, una comida la cual es hecha a base de la carne de res, la cual es acompañada de su jugo</p>
    <img src="https://www.cocina-ecuatoriana.com/base/stock/Recipe/414-image/414-image_web.jpg">
    <p>Mi comida favorita numero 8 es el pollo asado</p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqNjGcO8SOMf7FcUOz6333bEv_Aji-dsBTcA&usqp=CAU">
    <p>Mi comida favorita numero 7 es el seco de pollo, sigue el mismo concepto del seco de carne, solo que en este caso con el pollo</p>
    <img src="https://www.cocina-ecuatoriana.com/base/stock/Recipe/408-image/408-image_web.jpg">
    <p></p>
    <button (click)="navegacion()">Pagina Inicial</button>
    <button (click)="navegacion2()">Videojuegos favoritos</button>
    <button (click)="navegacion3()">Peliculas y series favoritas</button>
    <button (click)="navegacion4()">Informacion de mi juego favorito</button>
    <button (click)="navegacion5()">Mis Viajes</button>
</div>
