<body>
<div>
    <h1>MIS VIAJES</h1>
    <p>Por ultimo les hablare de mis viajes quehe hecho hasta ahora, el primero que hice fue uno a Miami en el 2019, en este lo que
        mayormente hice fue ir a los diversos parques  tematicos, tanto de Disney, como de Universal, tambien fui a comprar dispositivos
        tecnologicos, y ropa debido aque era mas baratode lo que es en mi pais Ecuador.</p>
        <img src="https://a.cdn-hotels.com/gdcs/production115/d1798/2f8ee366-c274-4562-ac1a-f8b7bd8efa56.jpg?impolicy=fcrop&w=800&h=533&q=medium">
        <p>El segundo viaje que hice fue a New York en el 2021,en este viaje lo que hice fue ir a Central Park y a su zoologico
        tambien fui a ver algunos lugares turisticos de la ciudad, tambien fui a algunos parques de diversiones como el de Six Flags,
        en el cual disfrute de su safari en el cual vi zebras, jirafas, entre otros animales, y tambien fui a visitar a mis familiares
        que viven ahí.</p> 
        <img src="https://cloudfront-us-east-1.images.arcpublishing.com/infobae/SCTUXTCBHBHEDJ4T46NLWRQWXQ.jpeg" id="Six_Flags">
        <p>Mi ultimo viaje lo hice este 2022 y lo hice a Miami otra vez y a Orlando, donde fui al parque de diversiones de Disney, y pasear por las diversas rutas
        del metro de Miami, tambien fui a comprar cartas de Yugioh, tambien fui al Kennedy Space Center, donde vi diversas presenteaciones
        sobre el espacio, lo que han hecho en el hasta la fecha, y como es que la nasa esta trabajando para proteger al planeta
        de un posible impacto de meteoritos.

        <img src="https://lp-cms-production.imgix.net/2019-06/70e2fb2d0e225f3c12af9b144396991a-kennedy-space-center.jpg" id="Kennedy">
    </p>
    
    <button (click)="navegacion()">Pagina Inicial</button>
    <button (click)="navegacion2()">Comida Favorita</button>
    <button (click)="navegacion3()">Videojuegos Favoritos</button>
    <button (click)="navegacion4()">Peliculas y series favoritas</button>
    <button (click)="navegacion5()">Informacion de mi juego favorito</button>
</div>
</body>

