<body>
<div>
    <h1>Mi blog Personal</h1>
    <p>Hola mi nombre es Daniel Pacheco</p>
    <p>Tengo 17 años y estudio en la UETS</p>
    <p>Vivo en Ecuador en la provincia de Azuay en la ciudad de Cuenca, en la parroquia de Tarqui</p>
    <button (click)="navegacion()">Comida Favorita</button>
    <button (click)="navegacion2()">Videojuegos favoritos</button>
    <button (click)="navegacion3()">Peliculas y series favoritas</button>
    <button (click)="navegacion4()">Informacion de mi juego favorito</button>
    <button (click)="navegacion5()">Mis Viajes</button>
</div>
</body>

