<div>
    <h1>Videojuegos favoritos</h1>
    <p>Ahora les hablare de mis 5 videojuegos favoritos</p>
    <p>El numero 5 es Need For Speed Hot Pursuit 2010 un juego de carreras en el cual puedes ser policia, o un corredor en el cual seras perseguido por policias</p>
    <img src="https://cdn.akamai.steamstatic.com/steam/apps/47870/capsule_616x353.jpg?t=1615216487">
    <p>El numero 4 es Plants vs Zombies, un juego de tower defense en el cual tendras que evitar que zombis entren a tu casa usando plantas como defensa</p>
    <img src="https://as01.epimg.net/meristation/imagenes/2017/11/22/noticia/1511373660_150933_1532079372_miniatura_normal.png">
    <p>El numero 3 es Clash Royale, un juego de tower defense el cual mediante cartas deberas defender tus torres, es un juego multijugador</p>
    <img src="https://play-lh.googleusercontent.com/rIvZQ_H3hfmexC8vurmLczLtMNBFtxCEdmb2NwkSPz2ZuJJ5nRPD0HbSJ7YTyFGdADQ">
    <p>El numero 2, es Konosuba Fantastic Days, un juego gacha, en el cual reunes cuarzos para gastarlos en banners, para obtener los personajes, y tiene un modo de combate PVE</p>
    <img src="https://pvi.dn.nexoncdn.co.kr/konosuba/brand/images_C2A378C0BD305F59/about/en/img_slide_1.jpg" id="konosuba">
    <p>El numero 1, es YuGiOh Duel Links, un juego de la franquicia Yugioh, el cual se ejecuta en moviles y pc mediante la tienda steam, en este juego usas a los personajes de los distintos animes de Yugioh
        usando habilidades para fortalecer tu deck, y mediante gemas gastas en cajas para obtener mejores cartas y mejorar tu deck
    </p>
    <img src="https://as01.epimg.net/meristation/imagenes/2022/09/28/noticias/1664356849_832757_1664360425_noticia_normal.jpg" id="Yugi">
    <button (click)="navegacion()">Pagina Inicial</button>
    <button (click)="navegacion2()">Comida Favorita</button>
    <button (click)="navegacion3()">Peliculas y series favoritas</button>
    <button (click)="navegacion4()">Informacion de mi juego favorito</button>
    <button (click)="navegacion5()">Mis Viajes</button>
</div>