<div>
    <h1>Bienvenido a la pagina 3</h1>
    <p>Ahora les hablare de mis 5 videojuegos favoritos</p>>
    <p>El numero 5 es Need For Speed Hot Pursuit 2010 un juego de carreras en el cual puedes ser policia, o un corredor en el cual seras perseguido por policias</p>
    <p>El numero 4 es Plants vs Zombies, un juego de tower defense en el cual tendras que evitar que zombis entren a tu casa usando plantas como defensa</p>
    <p>El numero 3 es Clash Royale, un juego de tower defense el cual mediante cartas deberas defender tus torres, es un juego multijugador</p>
    <p>El numero 2, es Konosuba Fantastic Days, un juego gacha, en el cual reunes cuarzos para gastarlos en banners, para obtener los personajes, y tiene un modo de combate PVE</p>
    <p>El numero 1, es YuGiOh Duel Links, un juego de la franquicia Yugioh, el cual se ejecuta en moviles y pc mediante la tienda steam, en este juego usas a los personajes de los distintos animes de Yugioh
        usando habilidades para fortalecer tu deck, y mediante gemas gastas en cajas para obtener mejores cartas y mejorar tu deck
    </p>
    <button (click)="navegacion()">Pagina Inicial</button>
    <button (click)="navegacion2()">Comida Favorita</button>
    <button (click)="navegacion3()">Peliculas y series favoritas</button>
    <button (click)="navegacion4()">Informacion de mi juego favorito</button>
    <button (click)="navegacion5()">Mis Viajes</button>
</div>