<div>
    <h1>Bienvenido a la pagina 3</h1>
    <p>Ahora les hablare de mi juego favorito YuGiOh un juego cartas coleccionables, el cual se divide en cartas de monstruos, magias, 
        y trampas, se debera construir un deck con un minimo de 
    </p>
    <button (click)="navegacion()">Pagina Inicial</button>
    <button (click)="navegacion2()">Comida Favorita</button>
    <button (click)="navegacion3()">Videojuegos Favoritos</button>
    <button (click)="navegacion4()">Peliculas y series Favoritas</button>
    <button (click)="navegacion5()">Mis Viajes</button>
</div>
