<body>
<div>
    <h1>Yugioh mi juego favorito</h1>
    <p>Ahora les hablare de mi juego favorito YuGiOh un juego cartas coleccionables, el cual se divide en cartas de monstruos, magias, 
        y trampas, se debera construir un deck con un minimo de 40 cartas y maximo 60 cartas, y tambien tiene un extra deck el cual  esta compuesto
        unicamente por monstruos, y su limite es 15 cartas, mediante la combinacion de monstruos de main y extra deck, magias y trampas
        deberas bajar los 8000 puntos de vida que tiene tu rival antes que el pueda, tambien se puede obtener la victoria
        mediante cartas de victoria automatica o dejando sin recursos a tu  oponenete
    </p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGnJxwlVIK2fEU7ZkjaV0iF1l_G7THjzxyBA&usqp=CAU">
    <button (click)="navegacion()">Pagina Inicial</button>
    <button (click)="navegacion2()">Comida Favorita</button>
    <button (click)="navegacion3()">Videojuegos Favoritos</button>
    <button (click)="navegacion4()">Peliculas y series Favoritas</button>
    <button (click)="navegacion5()">Mis Viajes</button>
</div>
</body>
